:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  text-align: center;
}

.App, #root, body, html {
  height: 100%;
}

.items-container {
  margin-top: 80px;
  display: flex;
}

.array-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #1a1a1a;
  transition: transform 0.3s, opacity 0.3s;
  position: relative;
  animation: slideIn 0.3s forwards;
  transform: scale(1);
  opacity: 1;
}

.array-item:not(:last-child) {
  border-top: 2px solid #646cff;
  border-right: 2px solid #646cff;
  border-bottom: 2px solid #646cff;
}

.array-item:last-child {
  border-top: 2px solid #646cff;
  border-bottom: 2px solid #646cff;
  border-right: 2px solid #646cff;
}

.array-item:first-child {
  border: 2px solid #646cff;
}

.array-item:before {
  content: attr(data-index);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8em;
  color: #fff;
  background: #646cff;
  padding: 2px 4px;
  border-radius: 4px;
}

.methods-group {
  text-align: center;
}

.buttons-group {
  margin: 0 auto;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  display: inline-flex;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ececec;
  }

  .array-item {
    background-color: #f9f9f9;
  }
}

/* Animation for added item */
@keyframes slideIn {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation for inserting item */
@keyframes insertSlideIn {
  from {
    transform: translateX(-50px);
  opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.insertAnim {
  animation: insertSlideIn 0.3s forwards;
}


@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

.scaledDown {
  animation: scaleDown 0.3s forwards;
}

/* Animation for shifting items */
@keyframes shiftLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.shiftLeft {
  animation: shiftLeft 0.3s forwards;
}
